<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>A thousand dream</title>
 <style>
.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}

.item img {
  height: 60px;
  width: 60px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}

.my-item.item {
  padding-top: 0;
  padding-bottom: 0;
}

.full-width {
  width: 100%;
}
</style>

</head>
<body style="font-family:'GHK KengTung';">
<!-- partial:index.partial.html -->
<html ng-app="contactsApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title></title>
    <link rel="stylesheet" href='https://mmwebfonts.comquas.com/fonts/?font=GHKKengtung' />

    <link href="https://code.ionicframework.com/1.1.0/css/ionic.css" rel="stylesheet">
    <script src="https://code.ionicframework.com/1.1.0/js/ionic.bundle.js"></script>

  </head>

  <body ng-controller="MainCtrl">
    <ion-header-bar class="bar-positive">
      <h1 class="title" style="font-family:'GHK KengTung';">အိမ်မက်တစ်ထောင်</h1>
      <div class="button" ng-click="scrollBottom()">
        အောက်ဆုံးသို့သွားရန်
      </div>
    </ion-header-bar>
    <ion-header-bar class="bar-light bar-subheader">
      <input type="search" style="font-family:'GHK KengTung';"
             placeholder="အိမ်မက်များ ရှာရန်..."
             ng-model="search"
             ng-focus="searchFocused = true"
             ng-blur="searchFocused = false"
             ng-change="scrollTop()"
             class="full-width">
      <button ng-if="search.length"
              class="button button-icon ion-android-close input-button"
              ng-click="clearSearch()">
      </button>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="my-item"
           ng-repeat="item in getContacts()"
           item-height="getItemHeight(item)"
           id="{{ item.isLetter ? (item.letter + '_divider') : ''}}"
           ng-style="{'line-height': getItemHeight(item) + 'px'}"
           ng-class="{'item-divider': item.isLetter}">
          <img ng-if="!item.isLetter" ng-src="file:///android_asset/img.jpg">
          {{item.letter || (item.first_name+' '+item.last_name)}}
        </ion-item>
      </ion-list>
    </ion-content>
  </body>
</html>
<!-- partial -->
  <script>
angular.module('contactsApp', ['ionic'])
.controller('MainCtrl', function($scope, $ionicScrollDelegate, filterFilter, $location, $anchorScroll) {
  var letters = $scope.letters = [];
  var contacts = $scope.contacts = [];
  var currentCharCode = ' '.charCodeAt(0) - 1;

  //window.CONTACTS is defined below
  window.CONTACTS
    .sort(function(a, b) {
      return a.last_name > b.last_name ? 1 : -1;
    })
    .forEach(function(person) {
      //Get the first letter of the last name, and if the last name changes
      //put the letter in the array
      var personCharCode = person.last_name.toUpperCase().charCodeAt(0);
      if (personCharCode < 65) {
         personCharCode = 35; 
      }
   
      //We may jump two letters, be sure to put both in
      //(eg if we jump from Adam Bradley to Bob Doe, add both C and D)
      var difference = personCharCode - currentCharCode;

      for (var i = 1; i <= difference; i++) {
        /*console.log(String.fromCharCode(currentCharCode));*/
        addLetter(currentCharCode + i);
      }
      currentCharCode = personCharCode;
      contacts.push(person);
    });

  //If names ended before Z, add everything up to Z
  for (var i = currentCharCode + 1; i <= 'Z'.charCodeAt(0); i++) {
    addLetter(i);
  }

  function addLetter(code) {
    var letter = String.fromCharCode(code);

    contacts.push({
      isLetter: true,
      letter: letter
    });
   
    letters.push(letter);
  }

  //Letters are shorter, everything else is 52 pixels
  $scope.getItemHeight = function(item) {
    return item.isLetter ? 40 : 100;
  };

  $scope.scrollTop = function() {
    $ionicScrollDelegate.scrollTop();
  };
  
  $scope.scrollBottom = function() {
    $ionicScrollDelegate.scrollBottom();
  };

  var letterHasMatch = {};
  $scope.getContacts = function() {
    letterHasMatch = {};
    //Filter contacts by $scope.search.
    //Additionally, filter letters so that they only show if there
    //is one or more matching contact
    return contacts.filter(function(item) {
      var itemDoesMatch = !$scope.search || item.isLetter ||
        item.first_name.toLowerCase().indexOf($scope.search.toLowerCase()) > -1 ||
        item.last_name.toLowerCase().indexOf($scope.search.toLowerCase()) > -1;

      //console.log(item.last_name.toString().charAt(0));
      
      //Mark this person's last name letter as 'has a match'
      if (!item.isLetter && itemDoesMatch) {

        var letter = item.last_name.charAt(0).toUpperCase();
        if ( item.last_name.charCodeAt(0) < 65 ){
          letter = "#";
        }
        letterHasMatch[letter] = true;
      }

      return itemDoesMatch;
    }).filter(function(item) {
      //Finally, re-filter all of the letters and take out ones that don't
      //have a match
      if (item.isLetter && !letterHasMatch[item.letter]) {
        return false;
      }
      
      return true;
    });
  };

  $scope.clearSearch = function() {
    $scope.search = '';
  };
});

window.CONTACTS = [
{"id":1,"first_name":"နဂါး ","last_name":"၅၄၅"},
{"id":2,"first_name":"သိုင်းသမား ","last_name":"၅၀၃"},
{"id":3,"first_name":"ဓားဆောင်သူ","last_name":" ၅၀၂"},
{"id":4,"first_name":"ဥဒေါင်း","last_name":" ၅၁၆"},
{"id":5,"first_name":"ခြင်္သေ","last_name":" ၅၃၉"},
{"id":6,"first_name":"သိမ်းငှက် ","last_name":"၅၄၁"},
{"id":7,"first_name":"ကျားခေါင်း","last_name":" ၅၀၈"},
{"id":8,"first_name":"ဗျိုင်း ","last_name":"၅၀၇"},
{"id":9,"first_name":"လူရည်ချွန်","last_name":" ၅၃၇"},
{"id":10,"first_name":"ဥသြငှက် ","last_name":"၅၃၂"},
{"id":11,"first_name":"ဖိုးမုတ်ဆိတ်","last_name":" ၅၂၇"},
{"id":12,"first_name":"စာရင်းကိုင် ","last_name":"၅၁၉"},
{"id":13,"first_name":"ဆိတ် ","last_name":"၅၂၉"},
{"id":14,"first_name":"ငုံး ","last_name":"၅၄၆"},
{"id":15,"first_name":"မြင်း","last_name":" ၅၀၄"},
{"id":16,"first_name":"ပျံလွှားငှက် ","last_name":"၅၂၄"},
{"id":17,"first_name":"နွား ","last_name":"၅၃၈"},
{"id":18,"first_name":"လားဟူလူမျိုး","last_name":" ၅၂၈"},
{"id":19,"first_name":"ဓားကိုင်သူ","last_name":" ၅၁၂"},
{"id":20,"first_name":"ကျီး ","last_name":"၅၂၂"},
{"id":21,"first_name":"ရွာဆော်","last_name":" ၅၄၃"},
{"id":22,"first_name":"ဂျိုး(ချိုးငှက်)","last_name":" ၅၂၀"},
{"id":23,"first_name":"ဝက် ","last_name":"၅၃၄"},
{"id":24,"first_name":"အောက်ချင်းငှက်","last_name":" ၅၁၆"},
{"id":25,"first_name":"တားမြစ်သူ ","last_name":"၅၃၅"},
{"id":26,"first_name":"ဘီလုံးငှက်ငယ် ","last_name":"၅၄၀"},
{"id":27,"first_name":"ကြိုဆိုသူ ","last_name":"၅၁၁"},
{"id":28,"first_name":"ယင်းနက်လူမျိုး ","last_name":"၅၁၈"},
{"id":29,"first_name":"ဝံပုလွေ ","last_name":"၅၁၃"},
{"id":30,"first_name":"မုဆိုး","last_name":" ၅၄၉"},
{"id":31,"first_name":"လှေသမား","last_name":" ၅၄၄"},
{"id":31,"first_name":"လှေသမား","last_name":" ၅၄၄"},
{"id":32,"first_name":"နာဂလူမျိုး","last_name":" ၅၁၀"},
{"id":33,"first_name":"ရခိုင်လူမျိုး","last_name":" ၅၃၆"},
{"id":34,"first_name":"ဖား ","last_name":"၅၂၃"},
{"id":35,"first_name":"မင်းသား ","last_name":"၅၂၅"},
{"id":36,"first_name":"အလှမယ် ","last_name":"၅၃၃"},
{"id":37,"first_name":"ငါးမန်း ","last_name":"၅၀၉"},
{"id":38,"first_name":"ပင့်ကူ ","last_name":"၅၁၇"},
{"id":39,"first_name":"သိုင်းသမား","last_name":" ၅၀၅"},
{"id":40,"first_name":"လူငယ် ","last_name":"၅၂၆"},
{"id":41,"first_name":"အဲန်လူမျိုး","last_name":" ၅၀၆"},
{"id":42,"first_name":"နှံကောင်","last_name":" ၅၄၇"},
{"id":43,"first_name":"တုတ်သိုင်းသမား","last_name":" ၅၂၁"},
{"id":44,"first_name":"ဖျံ ","last_name":"၅၃၁"},
{"id":45,"first_name":"ပင်လယ်ပုဇွန်","last_name":" ၅၀၁"},
{"id":46,"first_name":"မီးပုံးကိုင် ","last_name":"၅၁၄"},
{"id":47,"first_name":"မိန်းမ ","last_name":"၅၄၂"},
{"id":48,"first_name":"ပျားပျံ ","last_name":"၅၅၀"},
{"id":49,"first_name":"ပုစဉ်းရင်ကွဲ","last_name":" ၅၃၀"},
{"id":50,"first_name":"ဟင်္သာ ","last_name":"၅၄၈"},
{"id":51,"first_name":"ပုတီးစိပ်သူ","last_name":" ၅၉၅"},
{"id":52,"first_name":"ဥဒေါင်း ","last_name":"၅၅၃"},
{"id":53,"first_name":"တိုးနယား","last_name":" ၅၅၂"},
{"id":54,"first_name":"ပညာတော်သင် ","last_name":"၅၆၅"},
{"id":55,"first_name":"ကိန္နရီ ","last_name":"၅၈၉"},
{"id":56,"first_name":"ဂဠုန်မင်း","last_name":" ၅၉၁"},
{"id":57,"first_name":"သိုင်းဆရာ","last_name":" ၅၅၈"},
{"id":58,"first_name":"လူအို ","last_name":"၅၅၇လ"},
{"id":59,"first_name":"ကျားသစ်","last_name":" ၅၈၇"},
{"id":60,"first_name":"န ","last_name":"၅၈၂"},
{"id":61,"first_name":"ဆင် ","last_name":"၅၇၇"},
{"id":62,"first_name":"ရေဘဲ","last_name":" ၅၆၉"},
{"id":63,"first_name":"ပြဒါးတိုင်","last_name":" ၅၇၉"},
{"id":64,"first_name":"ရသေ့ ","last_name":"၅၉၆"},
{"id":65,"first_name":"သစ်ရွက်ကိုင်","last_name":" ၅၅၄"},
{"id":66,"first_name":"ထီးကိုင် ","last_name":"၅၇၄"},
{"id":67,"first_name":"ထောက်ကွန်ပါ","last_name":" ၅၈၈"},
{"id":68,"first_name":"ဘဲ","last_name":" ၅၇၈"},
{"id":69,"first_name":"သမင်နက် ","last_name":"၅၆၂"},
{"id":71,"first_name":"သိမ် ","last_name":"၅၇၂"},
{"id":72,"first_name":"အလေးပြု","last_name":" ၅၉၃"},
{"id":73,"first_name":"အောက်လင်းမီး","last_name":" ၅၇၀"},
{"id":74,"first_name":"ဒေါင်းတောင်ကိုင်","last_name":" ၅၈၄"},
{"id":75,"first_name":"မြင်းကျား ","last_name":"၅၆၆"},
{"id":76,"first_name":"ခွေးဖြူ ","last_name":"၅၈၅"},
{"id":77,"first_name":"ဓားပြဗိုလ်","last_name":" ၅၉၀"},
{"id":78,"first_name":"ကြောင်","last_name":" ၅၆၁"},
{"id":78,"first_name":"လင်းဆွဲ ","last_name":"၅၆၈"},
{"id":79,"first_name":"ပန်းကိုင်","last_name":" ၅၆၃"},
{"id":80,"first_name":"ကြက်ဖ ","last_name":"၅၉၉"},
{"id":81,"first_name":"မြေခွေး ","last_name":"၅၉၄"},
{"id":82,"first_name":"စာကလေး ","last_name":"၅၆၀"},
{"id":83,"first_name":"ယုန် ","last_name":"၅၈၆"},
{"id":84,"first_name":"ရပ်တန့်ခိုင်း ","last_name":"၅၇၃"},
{"id":85,"first_name":"ကြွက် ","last_name":"၅၇၅"},
{"id":86,"first_name":"ကင်းခြေများ","last_name":" ၅၈၃"},
{"id":87,"first_name":"လက်ဆက်သူ ","last_name":"၅၅၉"},
{"id":88,"first_name":"လက်ပိုက်သူ ","last_name":"၅၆၇"},
{"id":89,"first_name":"မိကျောင်း ","last_name":"၅၅၅"},
{"id":90,"first_name":"ပုစဉ်း","last_name":" ၅၇၆"},
{"id":91,"first_name":"ဧရာမငါးကြီး","last_name":" ၅၅၆"},
{"id":92,"first_name":"မြို့စား(မြို့အုပ်)","last_name":" ၅၉၇"},
{"id":93,"first_name":"သာမိုမီတာ ","last_name":"၅၇၁"},
{"id":94,"first_name":"နယ်စား","last_name":" ၅၈၁"},
{"id":95,"first_name":"ပေရွက်ထမ်း","last_name":" ၅၅၁"},
{"id":96,"first_name":"ဂဏန်း","last_name":" ၅၆၄"},
{"id":97,"first_name":"လိပ်ပြာ ","last_name":"၅၉၂"},
{"id":98,"first_name":"ခမောက်ဆောင်း","last_name":"၆၀၀"},
{"id":99,"first_name":"လေထိုးတံ","last_name":" ၅၈၀"},
{"id":100,"first_name":"ကြေငြာသူ","last_name":" ၅၉၈"},
{"id":101,"first_name":"ကောင်းကင်","last_name":"၆၄၅"},
{"id":102,"first_name":"ကမ္ဘာ","last_name":"၆၀၃"},
{"id":103,"first_name":"နေ ","last_name":"၆၀၂"},
{"id":104,"first_name":"လ","last_name":"၆၃၉"},
{"id":105,"first_name":"မိုးကြိုး","last_name":" ၆၃၇"},
{"id":107,"first_name":"မိုးရွာ ","last_name":"၆၄၁"},
{"id":106,"first_name":"လေ","last_name":" ၆၀၈"},
{"id":108,"first_name":"တိမ်","last_name":"၆၀၇"},
{"id":109,"first_name":"ရေခဲ ","last_name":"၆၁၅"},
{"id":110,"first_name":"နှင်း ","last_name":"၆၃၂"},
{"id":111,"first_name":"ကြယ် ","last_name":"၆၂၇"},
{"id":112,"first_name":"လျှပ်စီးလျက် ","last_name":"၆၁၉"},
{"id":113,"first_name":"ရေအိုင် ","last_name":"၆၂၉"},
{"id":114,"first_name":"တောင် ","last_name":"၆၄၆"},
{"id":115,"first_name":"ရေချောင်း","last_name":" ၆၀၄"},
{"id":116,"first_name":"ကျောက်တုံး","last_name":" ၆၂၄"},
{"id":117,"first_name":"လမ်းမ ","last_name":"၆၃၈"},
{"id":118,"first_name":"ရေတွင်း","last_name":" ၆၂၈"},
{"id":119,"first_name":"မြို့","last_name":" ၆၁၂"},
{"id":120,"first_name":"အုတ်တံတိုင်း","last_name":" ၆၂၂"},
{"id":121,"first_name":"ဂူ","last_name":" ၆၄၃"},
{"id":122,"first_name":"ဆိပ်ကမ်း ","last_name":"၆၂၀"},
{"id":123,"first_name":"လယ်","last_name":" ၆၃၄"},
{"id":124,"first_name":"သင်္ချိုင်း","last_name":" ၆၁၆"},
{"id":125,"first_name":"ပန်းခြံ ","last_name":"၆၃၅"},
{"id":126,"first_name":"တောအုပ် ","last_name":"၆၄၀"},
{"id":127,"first_name":"ဟော်တယ်","last_name":" ၆၁၁"},
{"id":128,"first_name":"နန်းတော်","last_name":" ၆၁၈"},
{"id":129,"first_name":"အိမ် ","last_name":"၆၁၃"},
{"id":130,"first_name":"နတ်စင် ","last_name":"၈၄၉"},
{"id":131,"first_name":"မြဿဒ်","last_name":" ၆၄၄"},
{"id":132,"first_name":"ကျောင်း ","last_name":"၆၁၀"},
{"id":133,"first_name":"တံတား","last_name":" ၆၃၆"},
{"id":134,"first_name":"ဇရပ်","last_name":" ၆၂၃"},
{"id":135,"first_name":"စေတီ","last_name":" ၆၂၅"},
{"id":136,"first_name":"အပေါင်ဆိုင်","last_name":" ၆၃၃"},
{"id":137,"first_name":"ပုလဲ","last_name":" ၆၀၉"},
{"id":138,"first_name":"ရွှေချောင်း ","last_name":"၆၁၇"},
{"id":139,"first_name":"ငွေခဲ","last_name":" ၆၀၅"},
{"id":140,"first_name":"ကပ္ပလီ ","last_name":"၆၂၆"},
{"id":141,"first_name":"လေးဂွ ","last_name":"၆၀၆"},
{"id":142,"first_name":"တောင်ဝေး","last_name":"၆၄၇"},
{"id":143,"first_name":"ဂျင်း","last_name":"၆၂၁"},
{"id":144,"first_name":"မှင်ခံ","last_name":" ၆၃၁"},
{"id":145,"first_name":"စုတ်တံ","last_name":"၆၀၁"},
{"id":146,"first_name":"မှင်ခွက်","last_name":"၆၁၄"},
{"id":147,"first_name":"စက္ကူထုပ်","last_name":"၆၄၂"},
{"id":148,"first_name":"ပိုစတာ","last_name":"၆၅၀"},
{"id":149,"first_name":"တရုတ်ဘင်ဂျို","last_name":"၆၃၀"},
{"id":150,"first_name":"ကျားခုံ","last_name":"၆၄၈"},
{"id":151,"first_name":"ထွန်စက်","last_name":"၆၉၅"},
{"id":152,"first_name":"လှေကား","last_name":"၆၅၃"},
{"id":153,"first_name":"ကောက်လှိုင်းပုံ","last_name":"၆၅၂"},
{"id":154,"first_name":"ပေသီး","last_name":"၆၆၅"},
{"id":155,"first_name":"လက်သုတ်ပဝါ","last_name":"၆၈၉"},
{"id":156,"first_name":"လေး","last_name":"၆၉၁"},
{"id":157,"first_name":"မြှား","last_name":"၆၅၈"},
{"id":158,"first_name":"အမြောက်","last_name":"၆၅၇"},
{"id":159,"first_name":"မောင်းတီးတံ","last_name":"၆၈၇"},
{"id":160,"first_name":"ဆင်လိမ်","last_name":"၆၈၂"},
{"id":161,"first_name":"ပုလွေ","last_name":"၆၇၇"},
{"id":162,"first_name":"မောင်း","last_name":"၆၆၉"},
{"id":163,"first_name":"လင်းကွင်း","last_name":"၆၇၉"},
{"id":164,"first_name":"ခေါင်းလောင်း","last_name":"၆၉၆"},
{"id":165,"first_name":"အိုးစည်","last_name":"၆၅၄"},
{"id":166,"first_name":"တံဆိပ်ခေါင်း","last_name":"၆၇၄"},
{"id":167,"first_name":"အလေး","last_name":"၆၈၈"},
{"id":168,"first_name":"ဂီတာ","last_name":"၆၇၈"},
{"id":169,"first_name":"နှဲ","last_name":"၆၆၂"},
{"id":170,"first_name":"ပေါက်ဆိန်","last_name":"၆၇၂"},
{"id":171,"first_name":"ဆံညှပ်","last_name":"၆၉၃"},
{"id":172,"first_name":"လက်ကောက်","last_name":"၆၇၀"},
{"id":173,"first_name":"လက်စွပ်","last_name":"၆၈၄"},
{"id":174,"first_name":"ရွှေခေါင်းဘီး","last_name":"၆၆၆"},
{"id":175,"first_name":"ကြည့်မှန်","last_name":"၆၈၅"},
{"id":176,"first_name":"ကပ်ကျေး","last_name":"၆၉၀"},
{"id":177,"first_name":"ခေါင်းအုံး","last_name":"၆၆၁"},
{"id":178,"first_name":"ဖျာလိပ်","last_name":"၆၆၈"},
{"id":179,"first_name":"ခြင်ထောင်","last_name":"၆၆၃"},
{"id":180,"first_name":"ချိန်ခွင် ","last_name":"၅၉၉"},
{"id":181,"first_name":"ထမင်းပန်းကန်","last_name":"၆၉၄"},
{"id":182,"first_name":"ခရားအိုး","last_name":"၆၆၀"},
{"id":183,"first_name":"ကနစိုးသီး","last_name":"၆၈၆"},
{"id":184,"first_name":"ရေစည်","last_name":"၆၇၃"},
{"id":185,"first_name":"စဉ့်အိုး","last_name":"၆၇၅"},
{"id":186,"first_name":"ဇလုံ","last_name":"၆၈၃"},
{"id":187,"first_name":"သုံးမြှောင့်ထောက်","last_name":"၆၅၉"},
{"id":188,"first_name":"လွှ","last_name":"၆၆၇"},
{"id":189,"first_name":"မင်းကွတ်သီး","last_name":"၆၅၅"},
{"id":190,"first_name":"လှေ","last_name":"၆၇၆"},
{"id":191,"first_name":"ဝက်ခြံ","last_name":"၆၅၆"},
{"id":192,"first_name":"သော့","last_name":"၆၉၇"},
{"id":193,"first_name":"မီးဖို","last_name":"၆၇၁"},
{"id":194,"first_name":"မီးပူ","last_name":"၆၈၁"},
{"id":195,"first_name":"ရေနွေးအိုး","last_name":"၆၅၁"},
{"id":196,"first_name":"တံမြက်စည်း","last_name":"၆၅၄"},
{"id":197,"first_name":"ပိုက်ကွန်","last_name":"၆၉၂"},
{"id":198,"first_name":"ကြိုးခွေ","last_name":"၇၀၀"},
{"id":200,"first_name":"ငါးမျှားတံ","last_name":"၆၈၀"},
{"id":199,"first_name":"ပဒေါင်လူမျိုး","last_name":"၆၉၈"},
{"id":201,"first_name":"ဘီလူး ","last_name":"၇၄၅"},
{"id":202,"first_name":"ဇာတ်ရုံ","last_name":"၇၀၃"},
{"id":203,"first_name":"နို့ဆီဗူး","last_name":"၇၀၂"},
{"id":204,"first_name":"အမတ်ကြီး","last_name":"၇၁၅"},
{"id":205,"first_name":"ရုပ်မြင်သံကြား","last_name":"၇၃၉"},
{"id":206,"first_name":"ထင်းရှာသူ","last_name":"၇၄၁"},
{"id":207,"first_name":"လီပိုပုလင်း","last_name":"၇၀၈"},
{"id":208,"first_name":"ဇော်ဂျီ","last_name":"၇၀၇"},
{"id":209,"first_name":"နှံကောင်","last_name":"၇၃၇"},
{"id":210,"first_name":"သည်းခြေ","last_name":"၇၃၂"},
{"id":211,"first_name":"ကိတ်မုန့်","last_name":"၇၂၇"},
{"id":212,"first_name":"မျော့","last_name":"၇၁၉"},
{"id":213,"first_name":"ငှက်သိုက်","last_name":"၇၂၉"},
{"id":214,"first_name":"လူခေါင်းရိုး","last_name":"၇၄၆"},
{"id":215,"first_name":"ဆံပင်","last_name":"၇၀၄"},
{"id":216,"first_name":"အလျားခုန်","last_name":"၇၂၄"},
{"id":217,"first_name":"ရေပြွတ်","last_name":"၇၃၈"},
{"id":220,"first_name":"နာနတ်သီး","last_name":"၇၂၈"},
{"id":218,"first_name":"အထုပ်ထမ်း","last_name":"၇၁၄"},
{"id":219,"first_name":"ဗျောက်အိုး","last_name":"၇၂၂"},
{"id":221,"first_name":"အမတ်ဦးထုပ်","last_name":"၇၄၃"},
{"id":222,"first_name":"ရှမ်းခေါက်ဆွဲ","last_name":"၇၂၀"},
{"id":223,"first_name":"သံဘရပ်(ရှ်)","last_name":"၇၃၄"},
{"id":224,"first_name":"သွားတိုက်ဆေး","last_name":"၇၁၆"},
{"id":225,"first_name":"စက္ကူလိပ်","last_name":"၇၃၅"},
{"id":226,"first_name":"အင်္ကျီ","last_name":"၇၄၀"},
{"id":227,"first_name":"တံမျက်စည်းလှည်း","last_name":"၇၁၁"},
{"id":228,"first_name":"နှလုံး","last_name":"၇၁၈"},
{"id":229,"first_name":"ကော်ပြား","last_name":"၇၁၃"},
{"id":230,"first_name":"လှည်းဆွဲသူ","last_name":"၇၄၉"},
{"id":231,"first_name":"ငှက်တိန်ညင်","last_name":"၇၄၄"},
{"id":232,"first_name":"ဖိုးဆိတ်ဖြူ","last_name":"၇၁၀"},
{"id":233,"first_name":"ဆုံ","last_name":"၇၃၆"},
{"id":234,"first_name":"ဆိုင်ကယ်ဦးထုပ်","last_name":"၇၂၃"},
{"id":235,"first_name":"ယောဂီမဘ်","last_name":"၇၂၅"},
{"id":236,"first_name":"နတ်သရဖူ","last_name":"၇၃၃"},
{"id":237,"first_name":"ပုတ်ရဟန်း","last_name":"၇၀၉"},
{"id":238,"first_name":"ခေါင်းဘီး","last_name":"၇၁၇"},
{"id":239,"first_name":"စစ်သင်္ဘော","last_name":"၇၀၅"},
{"id":240,"first_name":"အိုဗာတင်း","last_name":"၇၂၆"},
{"id":241,"first_name":"အစာအိမ်","last_name":"၇၀၆"},
{"id":242,"first_name":"ကော်ဘရပ်(ရှ်)","last_name":"၇၄၇"},
{"id":243,"first_name":"ဝတ်စုံ","last_name":"၇၂၁"},
{"id":244,"first_name":"မှတ်စုစာအုပ်","last_name":"၇၃၁"},
{"id":245,"first_name":"ဦးထုပ်","last_name":"၇၀၁"},
{"id":246,"first_name":"ယပ်ခပ်သူ","last_name":"၇၁၄"},
{"id":247,"first_name":"စပါးစေ့","last_name":"၇၄၂"},
{"id":248,"first_name":"သရက်ရွက်","last_name":"၇၅၀"},
{"id":249,"first_name":"မျှစ်စားသူ","last_name":"၇၃၀"},
{"id":250,"first_name":"လက်ရှည်ဘိနပ်","last_name":"၇၄၈"},
{"id":251,"first_name":"အချိုရည်","last_name":"၇၉၅"},
{"id":252,"first_name":"ညှပ်ဘိနပ်","last_name":"၇၅၃"},
{"id":253,"first_name":"ဘက်ထရီအိုး","last_name":"၇၅၂"},
{"id":254,"first_name":"ဝက်အူလှည့်","last_name":"၇၆၅"},
{"id":255,"first_name":"မိုင်းဗုံး","last_name":"၇၈၉"},
{"id":256,"first_name":"ခါးပတ်","last_name":"၇၉၁"},
{"id":257,"first_name":"စားပွဲ","last_name":"၇၅၈"},
{"id":258,"first_name":"စစ်မှူးကြီး","last_name":"၇၅၇"},
{"id":259,"first_name":"အုတ်ခဲ","last_name":"၇၈၇"},
{"id":260,"first_name":"ငါး","last_name":"၇၈၂"},
{"id":261,"first_name":"မြေပုံ","last_name":"၇၇၇"},

{"id":262,"first_name":"ထီး","last_name":"၇၆၉"},
{"id":263,"first_name":"သေနတ်","last_name":"၇၇၉"},
{"id":264,"first_name":"ကင်းမြှီးကောက်","last_name":"၇၉၆"},
{"id":265,"first_name":"လွယ်အိတ်","last_name":"၇၅၄"},
{"id":267,"first_name":"တံခါး","last_name":"၇၇၄"},
{"id":268,"first_name":"ပန်းသီး","last_name":"၇၈၈"},
{"id":269,"first_name":"အိမ်သာ","last_name":"၇၇၈"},
{"id":270,"first_name":"နောက်ကျော","last_name":"၇၆၂"},
{"id":271,"first_name":"လှံပစ်သူ","last_name":"၇၇၂"},
{"id":272,"first_name":"မုန့်လေပွေ","last_name":"၇၉၃"},
{"id":273,"first_name":"ကက်ဆက်","last_name":"၇၇၀"},
{"id":274,"first_name":"ပုရွက်ဆိတ်","last_name":"၇၈၄"},
{"id":275,"first_name":"ကျောက်ကပ်","last_name":"၇၆၇"},
{"id":276,"first_name":"ဘောင်းဘီ","last_name":"၇၈၅"},
{"id":277,"first_name":"ဟင်းရွက်ပင်","last_name":"၇၉၀"},
{"id":278,"first_name":"အလံကိုင်","last_name":"၇၆၁"},
{"id":279,"first_name":"ရှူးဘိနပ်","last_name":"၇၆၈"},
{"id":280,"first_name":"ဘော်လုံးကန်","last_name":"၇၆၃"},
{"id":281,"first_name":"ပန်း","last_name":"၇၉၉"},
{"id":282,"first_name":"ဦးထုပ်","last_name":"၇၉၄"},
{"id":283,"first_name":"ဒယ်အိုး","last_name":"၇၆၀"},
{"id":284,"first_name":"ပိုးမွှား","last_name":"၇၈၆"},
{"id":285,"first_name":"ခြေအိတ်","last_name":"၇၇၃"},
{"id":286,"first_name":"သားစိမ်းသည်","last_name":"၇၇၅"},
{"id":287,"first_name":"စစ်သူရဲ","last_name":"၇၈၃"},
{"id":288,"first_name":"ဓါတ်ခဲ","last_name":"၇၅၉"},
{"id":289,"first_name":"စာထည့်ပုံး","last_name":"၇၆၆"},
{"id":290,"first_name":"အဆုတ်","last_name":"၇၅၅"},
{"id":291,"first_name":"စာပို့လုလင်","last_name":"၇၇၆"},
{"id":292,"first_name":"တိုင်ကပ်နာရီ","last_name":"၇၅၆"},
{"id":293,"first_name":"ဆပ်ပြာ","last_name":"၇၉၇"},
{"id":294,"first_name":"တဲ","last_name":"၇၇၁"},
{"id":295,"first_name":"တွယ်အပ်","last_name":"၇၈၁"},
{"id":296,"first_name":"ခရု","last_name":"၇၅၁"},
{"id":297,"first_name":"ဂစ်တာတီး","last_name":"၇၆၄"},
{"id":298,"first_name":"ဖလင်လိပ်","last_name":"၇၉၂"},
{"id":299,"first_name":"ဆော်ဒါရည်","last_name":"၈၀၀"},
{"id":300,"first_name":"မောင်းချဓါး","last_name":"၇၈၀"},
{"id":301,"first_name":"လေချွန်","last_name":"၇၉၈"},
{"id":302,"first_name":"ခြေနာသူ","last_name":"၈၄၅"},
{"id":303,"first_name":"သွပ်ကြိုး","last_name":"၈၀၃"},
{"id":304,"first_name":"မန်ကျည်းသီး","last_name":"၈၀၂"},
{"id":305,"first_name":"စန္ဒယား","last_name":"၈၁၅"},
{"id":306,"first_name":"အစေခံ","last_name":"၈၃၉"},
{"id":307,"first_name":"သရုပ်ဆောင်မင်းသမီး","last_name":"၈၄၁"},
{"id":308,"first_name":"ရွှေတံဆိပ်","last_name":"၈၀၈"},
{"id":309,"first_name":"ဂျုံကောက်ရိုး","last_name":"၈၀၇"},
{"id":310,"first_name":"ယပ်တောင်","last_name":"၈၃၇"},
{"id":312,"first_name":"ရွှေတုတ်","last_name":"၈၃၂"},
{"id":311,"first_name":"တောင်ထိပ်","last_name":"၈၂၇"},
{"id":313,"first_name":"မုန့်စားသူ","last_name":"၈၁၉"},
{"id":314,"first_name":"လျှို","last_name":"၈၂၉"},
{"id":315,"first_name":"တိုင်","last_name":"၈၄၆"},
{"id":316,"first_name":"အိမ်မြှောင်","last_name":"၈၀၄"},
{"id":317,"first_name":"မီးဖို","last_name":"၈၃၄"},
{"id":318,"first_name":"လက်နှိပ်ဓါတ်မီး","last_name":"၈၃၈"},
{"id":319,"first_name":"လှေကားထစ်","last_name":"၈၂၈"},
{"id":320,"first_name":"အရက်ဆိုင်","last_name":"၈၁၂"},
{"id":321,"first_name":"ဓါးကိုင်သူ","last_name":"၈၂၂"},
{"id":322,"first_name":"ရေကာတာ","last_name":"၈၄၃"},
{"id":323,"first_name":"အဖိုးအို","last_name":"၈၂၀"},
{"id":324,"first_name":"ရေတံခွန်","last_name":"၈၂၃"},
{"id":325,"first_name":"ရေချိုးခန်း","last_name":"၈၁၆"},
{"id":326,"first_name":"ပြတင်းပေါက်","last_name":"၈၃၅"},
{"id":327,"first_name":"ရှောက်ချိုသီး","last_name":"၈၄၀"},
{"id":328,"first_name":"ဧည့်ခန်း","last_name":"၈၁၁"},
{"id":329,"first_name":"အပ်ချည်လုံး","last_name":"၈၁၈"},
{"id":330,"first_name":"အကြွေစေ့","last_name":"၈၁၃"},
{"id":331,"first_name":"ဆန်အိတ်","last_name":"၈၄၉"},
{"id":332,"first_name":"ပန်းရောင်းသူ","last_name":"၈၄၄"},
{"id":333,"first_name":"ပျားအုံ","last_name":"၈၁၀"},
{"id":334,"first_name":"ရဲဒင်းကိုင်","last_name":"၈၂၅"},
{"id":335,"first_name":"ဘော","last_name":"၈၃၆"},
{"id":336,"first_name":"ကားပလပ်","last_name":"၈၂၄"},
{"id":337,"first_name":"ကုန်တင်ကား","last_name":"၈၃၃"},
{"id":338,"first_name":"မှန်ကြည့်","last_name":"၈၀၉"},
{"id":339,"first_name":"ယပ်ကိုင်သူ","last_name":"၈၁၇"},
{"id":340,"first_name":"ပဲပန်းကန်","last_name":"၈၀၅"},
{"id":341,"first_name":"သီချင်းစာအုပ်","last_name":"၈၂၆"},
{"id":342,"first_name":"အဆိုတော်","last_name":"၈၀၆"},
{"id":343,"first_name":"ဓါးဝိဇ္ဇာ","last_name":"၈၄၇"},
{"id":344,"first_name":"ရေနှစ်သူ","last_name":"၈၂၁"},
{"id":345,"first_name":"ရေတကောင်း","last_name":"၈၃၁"},
{"id":346,"first_name":"ရဲသား","last_name":"၈၀၁"},
{"id":347,"first_name":"မလိုင်မုန့်","last_name":"၈၁၄"},
{"id":348,"first_name":"အပ်ချုပ်စက်","last_name":"၈၄၂"},
{"id":349,"first_name":"ရေမွှေး","last_name":"၈၅၀"},
{"id":350,"first_name":"ဘုရား","last_name":"၈၃၀"},
{"id":351,"first_name":"စာဆိုတော်","last_name":"၈၄၈"},
{"id":352,"first_name":"ဆုပေးနတ်မင်း","last_name":"၈၉၅"},
{"id":353,"first_name":"စီးကရက်","last_name":"၈၅၃"},
{"id":354,"first_name":"နတ်နဂါး","last_name":"၈၅၂"},
{"id":355,"first_name":"သက်တန့်","last_name":"၈၆၅"},
{"id":356,"first_name":"စောင့်မျှော်သူ","last_name":"၈၈၉"},
{"id":357,"first_name":"ကြောင်လျှာသီး","last_name":"၈၉၁"},
{"id":358,"first_name":"ဗူးသီး","last_name":"၈၅၈"},
{"id":359,"first_name":"နတ်ကွန်း","last_name":"၈၅၇"},
{"id":360,"first_name":"ပဲစောင်းလျား","last_name":"၈၈၇"},
{"id":361,"first_name":"ငရဲထိန်း","last_name":"၈၈၂"},
{"id":362,"first_name":"မီတာပုံး","last_name":"၈၇၇"},
{"id":363,"first_name":"မယ်တော်မာရီ","last_name":"၈၆၉"},
{"id":364,"first_name":"စီးကရက်ဗူး","last_name":"၈၇၉"},
{"id":365,"first_name":"လဲလျောင်းသူ","last_name":"၈၉၆"},
{"id":366,"first_name":"ပန်း","last_name":"၈၅၄"},
{"id":367,"first_name":"ငါးကန်","last_name":"၈၇၄"},
{"id":368,"first_name":"အင်္ကျီ","last_name":"၈၈၈"},
{"id":369,"first_name":"ကန်ဇွန်းဥ","last_name":"၈၇၈"},
{"id":370,"first_name":"ဆိုင်ကယ်","last_name":"၈၆၂"},
{"id":371,"first_name":"တယော","last_name":"၈၇၂"},
{"id":372,"first_name":"မြေရှင်ကြီး","last_name":"၈၉၃"},
{"id":373,"first_name":"ပင်လယ်","last_name":"၈၇၀"},
{"id":374,"first_name":"ကြက်မွေးတံမြက်စည်း","last_name":"၈၈၄"},
{"id":375,"first_name":"ပိုက်ဆံအိတ်","last_name":"၈၆၆"},
{"id":376,"first_name":"ဓါးလွယ်သူ","last_name":"၈၈၅"},
{"id":377,"first_name":"ဆပ်ပြာမှုန့်","last_name":"၈၉၀"},
{"id":378,"first_name":"နွားဆွဲသူ","last_name":"၈၆၁"},
{"id":379,"first_name":"လ္ဘက်ပင်","last_name":"၈၆၈"},
{"id":380,"first_name":"နတ်တောင်ဝှေး","last_name":"၈၆၃"},
{"id":381,"first_name":"ဝမ်းဗိုက်","last_name":"၈၉၉"},
{"id":382,"first_name":"ငန်းတော်ကြား","last_name":"၈၉၄"},
{"id":383,"first_name":"သရဲ","last_name":"၈၆၀"},
{"id":384,"first_name":"ပန်းပွင့်","last_name":"၈၈၆"},
{"id":385,"first_name":"တီကောင်","last_name":"၈၇၃"},
{"id":386,"first_name":"ယပ်တောင်","last_name":"၈၇၅"},
{"id":387,"first_name":"စာထည့်ပုံး","last_name":"၈၈၃"},
{"id":388,"first_name":"မိခင်နို့တိုက်","last_name":"၈၅၉"},
{"id":389,"first_name":"ပုခုံး","last_name":"၈၆၇"},
{"id":390,"first_name":"ထမင်းစား","last_name":"၈၅၅"},
{"id":391,"first_name":"လမ်းလျှောက်","last_name":"၈၇၆"},
{"id":392,"first_name":"သံချွန်ကုတင်","last_name":"၈၅၆"},
{"id":393,"first_name":"ပိတ်အုပ်","last_name":"၈၉၇"},
{"id":394,"first_name":"ဘုရားရှိခိုး","last_name":"၈၇၁"},
{"id":395,"first_name":"တရားဟောဆရာ","last_name":"၈၈၁"},
{"id":396,"first_name":"ပုဇွန်ခြောက်","last_name":"၈၅၁"},
{"id":397,"first_name":"ဖရုံသီး","last_name":"၈၆၄"},
{"id":398,"first_name":"ကားမောင်း","last_name":"၈၉၂"},
{"id":399,"first_name":"သခွါးသီး","last_name":"၉၀၀"},
{"id":400,"first_name":"စုံတွဲအက","last_name":"၈၈၀"},
{"id":401,"first_name":"တရုတ်အင်း","last_name":"၈၉၈"},
{"id":402,"first_name":"သိုင်းဆရာ","last_name":"၉၄၅"},
{"id":403,"first_name":"ဂျုံခေါက်ဆွဲ","last_name":"၉၀၃"},
{"id":404,"first_name":"စာအိတ်","last_name":"၉၀၂"},
{"id":405,"first_name":"ကုလားထိုင်","last_name":"၉၁၅"},
{"id":406,"first_name":"လှေလှော်","last_name":"၉၃၉"},
{"id":407,"first_name":"အမွှေးတိုင်","last_name":"၉၄၁"},
{"id":408,"first_name":"လူသေကောင်","last_name":"၉၀၈"},
{"id":409,"first_name":"ဒုက္ခသည်","last_name":"၉၀၇"},
{"id":410,"first_name":"ဇီးသီး","last_name":"၉၃၇"},
{"id":411,"first_name":"ပုလွေမှုတ်","last_name":"၉၃၂"},
{"id":412,"first_name":"ကုန်သည်","last_name":"၉၂၇"},
{"id":413,"first_name":"အင်္ကျီ","last_name":"၉၁၉"},
{"id":414,"first_name":"နွားခြံ","last_name":"၉၂၉"},
{"id":415,"first_name":"လူအို","last_name":"၉၄၆"},
{"id":416,"first_name":"ဆန်အိုး","last_name":"၉၀၄"},
{"id":417,"first_name":"ငှက်ပျောပင်","last_name":"၉၂၄"},
{"id":418,"first_name":"မီးပုံ","last_name":"၉၃၈"},
{"id":419,"first_name":"အမွှေးတိုင်ထုပ်","last_name":"၉၂၈"},
{"id":420,"first_name":"ဆေးတံ","last_name":"၉၁၂"},
{"id":421,"first_name":"အက်စကီးမိုး","last_name":"၉၂၂"},
{"id":422,"first_name":"ပလောပီနံမှုံ့","last_name":"၉၄၃"},
{"id":423,"first_name":"မစင်ပုံ","last_name":"၉၂၀"},
{"id":424,"first_name":"မိတ်ကပ်","last_name":"၉၃၄"},
{"id":425,"first_name":"စကော","last_name":"၉၁၆"},
{"id":426,"first_name":"အိုးရောင်းသူ","last_name":"၉၃၅"},
{"id":427,"first_name":"အပ်","last_name":"၉၄၀"},
{"id":429,"first_name":"ခရမ်းချဉ်သီး","last_name":"၉၁၁"},
{"id":428,"first_name":"ဖါးပြုတ်","last_name":"၉၁၈"},
{"id":430,"first_name":"မြေကြီး","last_name":"၉၁၃"},
{"id":431,"first_name":"ရီမောသူ","last_name":"၉၄၉"},
{"id":432,"first_name":"အရက်ပုလင်း","last_name":"၉၄၄"},
{"id":433,"first_name":"ကြက်ခြံ","last_name":"၉၁၀"},
{"id":434,"first_name":"ထိုဟူးတုံး","last_name":"၉၃၆"},
{"id":435,"first_name":"ပျင်းရိသူ","last_name":"၉၂၃"},
{"id":436,"first_name":"ပြည်တောင်း","last_name":"၉၂၅"},
{"id":437,"first_name":"ရှောက်သီး","last_name":"၉၃၃"},
{"id":438,"first_name":"မုတ်ဆိတ်ကိုင်","last_name":"၉၀၉"},
{"id":439,"first_name":"ရေအင်တုံ","last_name":"၉၁၇"},
{"id":440,"first_name":"ငန်းခြံ","last_name":"၉၀၅"},
{"id":441,"first_name":"ဓါးကိုင်သူ","last_name":"၉၂၆"},
{"id":442,"first_name":"ထွေးခံ","last_name":"၉၀၆"},
{"id":443,"first_name":"ဘုရားရှိခိုး","last_name":"၉၄၇"},
{"id":444,"first_name":"ဟင်းရည်ပန်းကန်","last_name":"၉၂၁"},
{"id":445,"first_name":"နေကြာပန်း","last_name":"၉၃၁"},
{"id":446,"first_name":"ကြက်သွန်ဖြူ","last_name":"၉၀၁"},
{"id":447,"first_name":"လက်ဆွဲအိတ်","last_name":"၉၁၄"},
{"id":448,"first_name":"ခလေးငယ်","last_name":"၉၄၂"},
{"id":449,"first_name":"ကုတင်","last_name":"၉၅၀"},
{"id":450,"first_name":"ကျွဲ","last_name":"၉၃၀"},
{"id":452,"first_name":"ကြိုး","last_name":"၉၄၈"},
{"id":451,"first_name":"သာကူစေ့","last_name":"၉၉၅"},
{"id":453,"first_name":"မုံညှင်း","last_name":"၉၅၃"},
{"id":454,"first_name":"အရက်ပုလင်း","last_name":"၉၅၂"},
{"id":455,"first_name":"မက်မွန်သီး","last_name":"၉၆၅"},
{"id":456,"first_name":"ပန်းချီဆရာ","last_name":"၉၈၉"},
{"id":457,"first_name":"စပျစ်သီး","last_name":"၉၉၁"},
{"id":458,"first_name":"သံလုံး","last_name":"၉၅၈"},
{"id":459,"first_name":"သစ်ပင်","last_name":"၉၅၇"},
{"id":460,"first_name":"နို့သီးခေါင်း","last_name":"၉၈၇"},
{"id":462,"first_name":"သူဌေး","last_name":"၉၈၂"},
{"id":461,"first_name":"မနောနတ်ဆရာ","last_name":"၉၇၇"},
{"id":463,"first_name":"သားရေကွင်း","last_name":"၉၆၉"},
{"id":465,"first_name":"လက်ပြသူ","last_name":"၉၇၉"},
{"id":466,"first_name":"စောင်","last_name":"၉၉၆"},
{"id":467,"first_name":"ယင်ကောင်","last_name":"၉၅၄"},
{"id":468,"first_name":"မိန်းမကောင်း","last_name":"၉၇၄"},
{"id":469,"first_name":"ခေါင်းလိမ်းဆီ","last_name":"၉၈၈"},
{"id":470,"first_name":"စိတ်ကူး","last_name":"၉၇၈"},
{"id":471,"first_name":"သိုင်းကွက်နင်း","last_name":"၉၆၂"},
{"id":472,"first_name":"တူခွက်","last_name":"၉၇၂"},
{"id":473,"first_name":"ရွှေစက္ကူ","last_name":"၉၉၃"},
{"id":474,"first_name":"ခါးထောက်","last_name":"၉၇၀"},
{"id":475,"first_name":"ပဲ","last_name":"၉၈၄"},
{"id":476,"first_name":"ငှက်လောင်အိမ်","last_name":"၉၆၆"},
{"id":477,"first_name":"ဓါတ်ပြားစက်","last_name":"၉၈၅"},
{"id":478,"first_name":"အိပ်ယာ","last_name":"၉၉၀"},
{"id":479,"first_name":"အဖိုးအို","last_name":"၉၆၁"},
{"id":480,"first_name":"ရှောက်ချိုသီး","last_name":"၉၆၈"},
{"id":481,"first_name":"ဆွဲချိုင့်","last_name":"၉၆၃"},
{"id":482,"first_name":"ကြာသီး","last_name":"၉၉၉"},
{"id":483,"first_name":"မီးပန်း","last_name":"၉၉၄"},
{"id":484,"first_name":"မောင်းတံကိုင်","last_name":"၉၆၀"},
{"id":485,"first_name":"သိုင်းဆရာကြီး","last_name":"၉၈၆"},
{"id":486,"first_name":"ကြက်သွန်နီ","last_name":"၉၇၃"},
{"id":487,"first_name":"ခြင်","last_name":"၉၇၅"},
{"id":488,"first_name":"ပန်းကန်","last_name":"၉၈၃"},
{"id":489,"first_name":"ဓါတ်ပြား","last_name":"၉၅၉"},
{"id":490,"first_name":"ဩဇာသီး","last_name":"၉၆၇"},
{"id":491,"first_name":"သမင်ဆောင်သူ","last_name":"၉၅၅"},
{"id":492,"first_name":"ဗေဒင်ဆရာ","last_name":"၉၇၆"},
{"id":493,"first_name":"ခယသူ","last_name":"၉၅၆"},
{"id":494,"first_name":"စာဟောသူ","last_name":"၉၉၇"},
{"id":495,"first_name":"ဆေးလိပ်","last_name":"၉၇၁"},
{"id":496,"first_name":"အိပ်ပျော်သူ","last_name":"၉၈၁"},
{"id":497,"first_name":"လမ်းသရဲ","last_name":"၉၅၁"},
{"id":498,"first_name":"သင်္ဘောသီး","last_name":"၉၆၄"},
{"id":499,"first_name":"ပူဖေါင်း","last_name":"၉၉၂"},
{"id":500,"first_name":"အပျို","last_name":"၀၀၀"},
{"id":501,"first_name":"လယ်သမား","last_name":"၉၈၀"},
{"id":502,"first_name":"နွားကျောင်းသား","last_name":"၉၉၈"},
{"id":503,"first_name":"နတ်သား","last_name":"၀၄၅"},
{"id":504,"first_name":"ကျောက်ဆူး","last_name":"၀၀၃"},
{"id":505,"first_name":"ကော်ရုပ်","last_name":"၀၀၂"},
{"id":506,"first_name":"ဆိတ်ခြံ","last_name":"၀၁၅"},
{"id":507,"first_name":"သူရဲကောင်း","last_name":"၀၃၉"},
{"id":508,"first_name":"အဆဲသန်သူ","last_name":"၀၄၁"},
{"id":509,"first_name":"ပုံဆွဲစာအုပ်","last_name":"၀၀၈"},
{"id":510,"first_name":"ပိုးစုန်းကြူး","last_name":"၀၀၇"},
{"id":511,"first_name":"တောဝက်","last_name":"၀၃၇"},
{"id":512,"first_name":"သံတံခါး","last_name":"၀၃၂"},
{"id":513,"first_name":"ကစားစရာ","last_name":"၀၂၇"},
{"id":514,"first_name":"ဒေါက်ဖိနပ်","last_name":"၀၁၉"},
{"id":515,"first_name":"ပြုံးသူ","last_name":"၀၂၉"},
{"id":516,"first_name":"ဖယောင်းတိုင်မီး","last_name":"၀၄၆"},
{"id":517,"first_name":"မက်မန်းသီး","last_name":"၀၀၄"},
{"id":518,"first_name":"ကြံ့","last_name":"၀၂၄"},
{"id":519,"first_name":"ပညာရှိ","last_name":"၀၃၈"},
{"id":520,"first_name":"ယမ်းမီးခြစ်","last_name":"၀၂၈"},
{"id":521,"first_name":"ခါးကုန်း","last_name":"၀၁၂"},
{"id":522,"first_name":"မုဆိုး","last_name":"၀၂၂"},
{"id":523,"first_name":"စစ်သူကြီး","last_name":"၀၄၃"},
{"id":524,"first_name":"ခရု","last_name":"၀၂၀"},
{"id":525,"first_name":"ကစားစရာ","last_name":"၀၃၄"},
{"id":526,"first_name":"သစ်တော်သီး","last_name":"၀၁၆"},
{"id":527,"first_name":"လုံချည်","last_name":"၀၃၅"},
{"id":528,"first_name":"ဖြူ","last_name":"၀၄၀"},
{"id":529,"first_name":"ထင်းစည်း","last_name":"၀၁၁"},
{"id":530,"first_name":"ကြာစွယ်","last_name":"၀၁၈"},
{"id":532,"first_name":"လူဝံ","last_name":"၀၁၃"},
{"id":531,"first_name":"စပါးပင်","last_name":"၀၄၉"},
{"id":533,"first_name":"ဆွံ့အသူ","last_name":"၀၄၄"},
{"id":534,"first_name":"သိုင်းဆရာ","last_name":"၀၁၀"},
{"id":535,"first_name":"မုန့်ကြိတ်ဆုံ","last_name":"၀၃၆"},
{"id":536,"first_name":"မှန်ဘီဒို","last_name":"၀၂၃"},
{"id":537,"first_name":"ဖိနပ်","last_name":"၀၂၅"},
{"id":538,"first_name":"လှံ","last_name":"၀၃၃"},
{"id":539,"first_name":"ဆရာ","last_name":"၀၀၉"},
{"id":540,"first_name":"မြင်းကုန်းနှီး","last_name":"၀၁၇"},
{"id":541,"first_name":"ပန်းပင်","last_name":"၀၀၅"},
{"id":542,"first_name":"ကြယ်သီး","last_name":"၀၂၆"},
{"id":543,"first_name":"မြင်ဆံတုတ်","last_name":"၀၀၆"},
{"id":546,"first_name":"ခုံဖိနပ်","last_name":"၀၄၇"},
{"id":544,"first_name":"ခြူလုံး","last_name":"၀၂၁"},
{"id":545,"first_name":"ပတ္တမြား","last_name":"၀၃၁"},
{"id":548,"first_name":"လှေ","last_name":"၀၀၁"},
{"id":547,"first_name":"ဖေါင်တိန်","last_name":"၀၁၄"},
{"id":549,"first_name":"ကြောင်နက်","last_name":"၀၄၂"},
{"id":550,"first_name":"မီးခြစ်","last_name":"၀၅၀"},
{"id":551,"first_name":"မှို့ပွင့်","last_name":"၀၃၀"},
{"id":552,"first_name":"အမတ်","last_name":"၀၄၈"},
{"id":553,"first_name":"စော်ဘွား","last_name":"၀၉၆"},
{"id":554,"first_name":"ဘာဂျာ","last_name":"၀၅၃"},
{"id":555,"first_name":"အိမ်ရှေ့မင်း","last_name":"၀၅၂"},
{"id":556,"first_name":"ပက်လက်ကုလားထိုင်","last_name":"၀၆၅"},
{"id":557,"first_name":"သနပ်ခါး","last_name":"၀၈၉"},
{"id":558,"first_name":"မောင်းတံသိုင်း","last_name":"၀၉၁"},
{"id":559,"first_name":"ကျပ်တွယ်","last_name":"၀၅၈"},
{"id":560,"first_name":"တယ်လီဖုန်း","last_name":"၀၅၇"},
{"id":561,"first_name":"ငှက်","last_name":"၀၈၇"},
{"id":562,"first_name":"သိုင်းကစား","last_name":"၀၈၂"},
{"id":563,"first_name":"ရေမြင်း","last_name":"၀၇၇"},
{"id":564,"first_name":"သင်္ဘောကုန်သည်","last_name":"၀၆၉"},
{"id":565,"first_name":"ကျွဲချိုသီး","last_name":"၀၇၉"},
{"id":566,"first_name":"ကိန္နရီ","last_name":"၀၉၆"},
{"id":567,"first_name":"ဓါးမြောင်","last_name":"၀၅၄"},
{"id":568,"first_name":"ပိန္နဲသီး","last_name":"၀၇၄"},
{"id":569,"first_name":"ခေါင်းလောင်း","last_name":"၀၈၈"},
{"id":570,"first_name":"ဘုရင်မ","last_name":"၀၇၈"},
{"id":571,"first_name":"မသာခေါင်း","last_name":"၀၆၂"},
{"id":572,"first_name":"ဒူးရင်းသီး","last_name":"၀၇၂"},
{"id":573,"first_name":"ဘုရားလောင်း","last_name":"၀၉၃"},
{"id":574,"first_name":"ခွေးခြေ","last_name":"၀၇၀"},
{"id":575,"first_name":"ကုလားအုပ်","last_name":"၀၈၄"},
{"id":576,"first_name":"အခိုင်းအစေ","last_name":"၀၆၆"},
{"id":577,"first_name":"ယောက်သွားခရု","last_name":"၀၈၅"},
{"id":578,"first_name":"ပုလွေ","last_name":"၀၉၀"},
{"id":579,"first_name":"ပဲစေ့","last_name":"၀၆၁"},
{"id":580,"first_name":"အပြုံး","last_name":"၀၆၈"},
{"id":581,"first_name":"စနိုး","last_name":"၀၆၃"},
{"id":582,"first_name":"ပြောင်းဖူးအိတ်","last_name":"၀၉၉"},
{"id":583,"first_name":"ကြွက်ထောင်ချောက်","last_name":"၀၉၄"},
{"id":584,"first_name":"ဇွန်း","last_name":"၀၆၀"},
{"id":585,"first_name":"စာရင်းကောက်","last_name":"၀၈၆"},
{"id":586,"first_name":"ခြံသမား","last_name":"၀၇၃"},
{"id":587,"first_name":"မော်တော်ကား","last_name":"၀၇၅"},
{"id":588,"first_name":"မြေစာဥ","last_name":"၀၈၃"},
{"id":589,"first_name":"သရက်သီး","last_name":"၀၅၉"},
{"id":590,"first_name":"ရေခဲ","last_name":"၀၆၇"},
{"id":591,"first_name":"ဆေးဗူး","last_name":"၀၅၅"},
{"id":592,"first_name":"ဆိုင်းဘုတ်","last_name":"၀၇၆"},
{"id":593,"first_name":"အံဆွဲ","last_name":"၀၅၆"},
{"id":594,"first_name":"မြွေဟောက်","last_name":"၀၉၇"},
{"id":595,"first_name":"မျောက်မင်း","last_name":"၀၇၁"},
{"id":596,"first_name":"လက်နာသူ","last_name":"၀၈၁"},
{"id":597,"first_name":"သစ်တောက်ငှက်","last_name":"၀၅၁"},
{"id":598,"first_name":"ဆွမ်းတော်တင်","last_name":"၀၆၄"},
{"id":599,"first_name":"ကျောင်းသား","last_name":"၀၉၂"},
{"id":600,"first_name":"ရွာသူကြီး","last_name":"၁၀၀"},
{"id":601,"first_name":"ဇီးကွက်","last_name":"၀၈၀"},
{"id":602,"first_name":"လှံသိုင်း","last_name":"၀၉၈"},
{"id":603,"first_name":"ရသေ့ဒေါက်ချာ","last_name":"၁၄၅"},
{"id":604,"first_name":"စစ်ကဲမှူး","last_name":"၁၀၃"},
{"id":605,"first_name":"လိမ့်တုံး","last_name":"၁၀၂"},
{"id":606,"first_name":"သားလှီးဓား","last_name":"၁၁၅"},
{"id":607,"first_name":"လှေလှော်တတ်","last_name":"၁၃၉"},
{"id":608,"first_name":"မြွေ","last_name":"၁၄၁"},
{"id":609,"first_name":"ရွှေသလွန်","last_name":"၁၀၈"},
{"id":610,"first_name":"အရောင်တင်ဆီ","last_name":"၁၀၇"},
{"id":611,"first_name":"ဓါးပျံ","last_name":"၁၃၇"},
{"id":612,"first_name":"နှင်းဆီပန်း","last_name":"၁၃၂"},
{"id":613,"first_name":"ကြာပန်း","last_name":"၁၂၇"},
{"id":614,"first_name":"ကဇွန်းဥ","last_name":"၁၁၉"},
{"id":615,"first_name":"စွန်","last_name":"၁၂၉"},
{"id":616,"first_name":"နားချေးကလော်","last_name":"၁၄၆"},
{"id":617,"first_name":"ဓါးမ","last_name":"၁၀၉"},
{"id":618,"first_name":"ငရုပ်သီး","last_name":"၁၂၄"},
{"id":619,"first_name":"ကိတ်မုန့်","last_name":"၁၃၈"},
{"id":620,"first_name":"လက်သီး","last_name":"၁၂၈"},
{"id":621,"first_name":"ပြောင်းဖူး","last_name":"၁၁၂"},
{"id":622,"first_name":"ကျောက်မဲ","last_name":"၁၂၂"},
{"id":623,"first_name":"အနွေးထည်","last_name":"၁၄၃"},
{"id":624,"first_name":"ရှဉ့်","last_name":"၁၂၀"},
{"id":625,"first_name":"စိန်","last_name":"၁၃၄"},
{"id":626,"first_name":"မီးသွေး","last_name":"၁၁၆"},
{"id":627,"first_name":"ပန်းပွင့်","last_name":"၁၃၅"},
{"id":628,"first_name":"ညွန်ပြ","last_name":"၁၄၀"},
{"id":629,"first_name":"သတင်းစာ","last_name":"၁၁၁"},
{"id":630,"first_name":"မှန်","last_name":"၁၁၈"},
{"id":631,"first_name":"အဖူးအငုံ","last_name":"၁၁၃"},
{"id":632,"first_name":"ခရမ်းသီး","last_name":"၁၄၉"},
{"id":633,"first_name":"လိပ်ပြာပန်း","last_name":"၁၄၄"},
{"id":634,"first_name":"မင်းကွတ်သီး","last_name":"၁၁၀"},
{"id":635,"first_name":"ဦးထုပ်","last_name":"၁၃၆"},
{"id":636,"first_name":"လက်ဖဝါး","last_name":"၁၂၃"},
{"id":637,"first_name":"မျှစ်","last_name":"၁၂၅"},
{"id":638,"first_name":"နားကပ်","last_name":"၁၃၃"},
{"id":639,"first_name":"ကော်ဖီရည်","last_name":"၁၀၅"},
{"id":640,"first_name":"လျှပ်စစ်မီး","last_name":"၁၁၇"},
{"id":641,"first_name":"ပေါင်မုန့်","last_name":"၁၀၄"},
{"id":642,"first_name":"သားပိုက်ကောင်","last_name":"၁၂၆"},
{"id":644,"first_name":"လိမ္မော်သီး","last_name":"၁၀၆"},
{"id":643,"first_name":"ဗျိုင်း","last_name":"၁၄၇"},
{"id":645,"first_name":"ဆေးတံသောက်","last_name":"၁၂၁"},
{"id":646,"first_name":"ဆင်စွယ်","last_name":"၁၃၁"},
{"id":647,"first_name":"မျက်မှန်","last_name":"၁၀၁"},
{"id":648,"first_name":"အသနားခံ","last_name":"၁၁၄"},
{"id":649,"first_name":"ပဲနီစေ့","last_name":"၁၄၂"},
{"id":650,"first_name":"ခြေထောက်","last_name":"၁၅၀"},
{"id":652,"first_name":"တုတ်ကိုင်","last_name":"၁၃၀"},
{"id":651,"first_name":"တရားသူကြီး","last_name":"၁၄၈"},
{"id":653,"first_name":"ရေကူးကန်","last_name":"၁၉၅"},
{"id":654,"first_name":"ဆွဲကြိုး","last_name":"၁၅၃"},
{"id":655,"first_name":"မုန့်လုပ်သူ","last_name":"၁၅၂"},
{"id":656,"first_name":"သက်တော်စောင့်","last_name":"၁၆၅"},
{"id":657,"first_name":"စံပယ်ပန်း","last_name":"၁၈၉"},
{"id":658,"first_name":"ခန္ဓာကိုယ်","last_name":"၁၉၁"},
{"id":659,"first_name":"နို့ဗူး","last_name":"၁၅၈"},
{"id":660,"first_name":"သစ္စာပန်း","last_name":"၁၅၇"},
{"id":661,"first_name":"ခွေးသန်း","last_name":"၁၈၇"},
{"id":662,"first_name":"သမားတော်","last_name":"၁၈၂"},
{"id":663,"first_name":"ကြက်ဆင်","last_name":"၁၇၇"},
{"id":664,"first_name":"နို့","last_name":"၁၆၉"},
{"id":665,"first_name":"ဆောက်","last_name":"၁၇၉"},
{"id":666,"first_name":"တံတောင်ဆစ်","last_name":"၁၉၆"},
{"id":667,"first_name":"အုပ်ကြွပ်မိုး","last_name":"၁၅၄"},
{"id":668,"first_name":"ပဲပြား","last_name":"၁၇၄"},
{"id":669,"first_name":"မီးခိုးတိုင်","last_name":"၁၈၈"},
{"id":670,"first_name":"သံတုံး","last_name":"၁၇၈"},
{"id":671,"first_name":"ချိုချဉ်","last_name":"၁၆၂"},
{"id":672,"first_name":"ငှက်ပျံ","last_name":"၁၇၂"},
{"id":673,"first_name":"ကြက်တောင်","last_name":"၁၉၃"},
{"id":674,"first_name":"ခါးပတ်ခေါင်း","last_name":"၁၇၀"},
{"id":675,"first_name":"ဆပ်ကပ်မယ်","last_name":"၁၈၄"},
{"id":676,"first_name":"မိန်းမ","last_name":"၁၆၈"},
{"id":677,"first_name":"ထင်းရူးပင်","last_name":"၁၈၆"},
{"id":678,"first_name":"ကြယ်သီး","last_name":"၁၉၀"},
{"id":679,"first_name":"အကြွေးတောင်း","last_name":"၁၆၁"},
{"id":680,"first_name":"ခြင်္သေ့နက်","last_name":"၁၆၈"},
{"id":681,"first_name":"ဝါး","last_name":"၁၆၃"},
{"id":682,"first_name":"ဘက်မင်တံ","last_name":"၁၉၉"},
{"id":683,"first_name":"သိုင်းကစား","last_name":"၁၉၄"},
{"id":684,"first_name":"ပဲစေ့","last_name":"၁၆၀"},
{"id":685,"first_name":"ဦးချို","last_name":"၁၈၆"},
{"id":686,"first_name":"ငှက်ကြား","last_name":"၁၇၃"},
{"id":687,"first_name":"ပန်းခိုင်","last_name":"၁၇၅"},
{"id":688,"first_name":"ပန်းဒကာ","last_name":"၁၈၃"},
{"id":689,"first_name":"အရိုး","last_name":"၁၅၉"},
{"id":690,"first_name":"တံခါးစောင့်","last_name":"၁၆၇"},
{"id":691,"first_name":"ခွေးလှောင်အိမ်","last_name":"၁၅၅"},
{"id":692,"first_name":"မင်္ဂလာပါ","last_name":"၁၇၆"},
{"id":693,"first_name":"ရှဉ့်","last_name":"၁၅၆"},
{"id":694,"first_name":"အရှုံးပေး","last_name":"၁၉၇"},
{"id":695,"first_name":"ငါးသေတ္တာ","last_name":"၁၇၁"},
{"id":696,"first_name":"ထိုဟူးချို","last_name":"၁၈၁"},
{"id":697,"first_name":"ကင်းစောင့်","last_name":"၁၅၁"},
{"id":698,"first_name":"အင်းကွက်အင်္ကျီ","last_name":"၁၆၄"},
{"id":699,"first_name":"ဂျင်","last_name":"၁၉၂"},
{"id":700,"first_name":"မိုးကြိုးနတ်","last_name":"၂၀၀"},
{"id":701,"first_name":"အရက်ခွက်","last_name":"၁၈၀"},
{"id":702,"first_name":"သလဲသီး","last_name":"၁၉၈"},
{"id":703,"first_name":"ဆေးလိပ်ပြောင်း","last_name":"၂၄၅"},
{"id":704,"first_name":"ငါးရှဉ့်","last_name":"၂၀၃"},
{"id":705,"first_name":"ကိုယ်ဝန်ဆောင်","last_name":"၂၀၂"},
{"id":706,"first_name":"စာဖတ်","last_name":"၂၁၅"},
{"id":707,"first_name":"တံဆိပ်","last_name":"၂၃၉"},
{"id":708,"first_name":"ဦးခေါင်း","last_name":"၂၄၁"},
{"id":709,"first_name":"စောင်းလျှားသီး","last_name":"၂၀၈"},
{"id":710,"first_name":"ပန်းရနံ့","last_name":"၂၀၇"},
{"id":711,"first_name":"ငိုနေသူ","last_name":"၂၃၇"},
{"id":712,"first_name":"စာရေး","last_name":"၂၃၂"},
{"id":713,"first_name":"ကျည်ဆံ","last_name":"၂၂၇"},
{"id":714,"first_name":"ယောင်းမ","last_name":"၂၁၉"},
{"id":715,"first_name":"မျက်နှာ","last_name":"၂၂၉"},
{"id":716,"first_name":"ဆန်အိတ်","last_name":"၂၄၆"},
{"id":717,"first_name":"ခုန်ဇွန်း","last_name":"၂၀၄"},
{"id":718,"first_name":"မှိန်း","last_name":"၂၂၄"},
{"id":719,"first_name":"ပန်းချီကား","last_name":"၂၃၈"},
{"id":720,"first_name":"ကြံချောင်း","last_name":"၂၂၈"},
{"id":721,"first_name":"မှန်ကူသီး","last_name":"၂၁၂"},
{"id":722,"first_name":"ချယ်ရီပန်း","last_name":"၂၂၂"},
{"id":723,"first_name":"ကြက်ဟင်းခါးသီး","last_name":"၂၄၃"},
{"id":724,"first_name":"အကျဉ်းသား","last_name":"၂၂၀"},
{"id":725,"first_name":"ဈေးသည်","last_name":"၂၃၄"},
{"id":726,"first_name":"ရင်ထိုး","last_name":"၂၁၆"},
{"id":727,"first_name":"ဆီပုံး","last_name":"၂၃၅"},
{"id":728,"first_name":"ငွေဒင်္ဂါး","last_name":"၂၄၀"},
{"id":729,"first_name":"ပါးစပ်","last_name":"၂၁၁"},
{"id":730,"first_name":"ကလစ်","last_name":"၂၁၈"},
{"id":731,"first_name":"ဆန်ထိုးပိုး","last_name":"၂၁၃"},
{"id":732,"first_name":"တောစောင့်နတ်","last_name":"၂၄၉"},
{"id":733,"first_name":"စက်ချုပ်","last_name":"၂၄၄"},
{"id":734,"first_name":"ပန်းပန်","last_name":"၂၁၀"},
{"id":735,"first_name":"ငွေဆေးတံ","last_name":"၂၃၆"},
{"id":737,"first_name":"မင်းထမ်းစင်","last_name":"၂၂၃"},
{"id":736,"first_name":"ဓါတ်ဗူး","last_name":"၂၂၅"},
{"id":738,"first_name":"ငန်း","last_name":"၂၃၃"},
{"id":739,"first_name":"နင်ဂျာသိုင်း","last_name":"၂၀၉"},
{"id":740,"first_name":"ရှပ်အင်္ကျီ","last_name":"၂၁၇"},
{"id":741,"first_name":"သစ်ခွပန်း","last_name":"၂၀၅"},
{"id":742,"first_name":"ဖားမျက်စိ","last_name":"၂၂၆"},
{"id":743,"first_name":"လံချား","last_name":"၂၀၆"},
{"id":744,"first_name":"ကော်ဇော","last_name":"၂၄၇"},
{"id":745,"first_name":"ဓါးဆွဲသူ","last_name":"၂၂၁"},
{"id":746,"first_name":"မြင်းစာခွက်","last_name":"၂၃၁"},
{"id":747,"first_name":"သွား","last_name":"၂၀၁"},
{"id":748,"first_name":"ငါးအုပ်ဆောင်း","last_name":"၂၁၄"},
{"id":749,"first_name":"ကြိုးစားသူ","last_name":"၂၄၂"},
{"id":750,"first_name":"ဂါဝန်","last_name":"၂၅၀"},
{"id":752,"first_name":"ခမောက်","last_name":"၂၃၀"},
{"id":751,"first_name":"ဗူးစင်","last_name":"၂၄၈"},
{"id":754,"first_name":"မီးရထားသံလမ်း","last_name":"၂၉၅"},
{"id":753,"first_name":"လူပျင်း","last_name":"၂၅၃"},
{"id":755,"first_name":"ဆားခွက်","last_name":"၂၅၂"},
{"id":756,"first_name":"ပေါက်ပြား","last_name":"၂၆၅"},
{"id":757,"first_name":"ငုံးဥ","last_name":"၂၈၉"},
{"id":758,"first_name":"အုန်းပင်","last_name":"၂၉၁"},
{"id":759,"first_name":"မျက်စေ့","last_name":"၂၅၈"},
{"id":760,"first_name":"ပန်းအိုး","last_name":"၂၅၇"},
{"id":761,"first_name":"လှံကိုင်","last_name":"၂၈၇"},
{"id":762,"first_name":"ပန်းစိုက်အိုး","last_name":"၂၈၂"},
{"id":763,"first_name":"မီးတုတ်","last_name":"၂၇၇"},
{"id":764,"first_name":"စွန်","last_name":"၂၆၉"},
{"id":765,"first_name":"နားရွက်","last_name":"၂၇၉"},
{"id":766,"first_name":"လိပ်","last_name":"၂၉၆"},
{"id":767,"first_name":"ဂန္ဒမာပန်း","last_name":"၂၅၄"},
{"id":768,"first_name":"လမ်းညွှန်သူ","last_name":"၂၈၈"},
{"id":769,"first_name":"မီးဘေးဒုက္ခသည်","last_name":"၂၇၄"},
{"id":770,"first_name":"သရဖူ","last_name":"၂၇၈"},
{"id":771,"first_name":"မီးညှပ်","last_name":"၂၆၂"},
{"id":772,"first_name":"ရေကူးဝတ်စုံ","last_name":"၂၇၂"},
{"id":773,"first_name":"ပိုးကောင်","last_name":"၂၉၃"},
{"id":774,"first_name":"စွပ်ကျယ်","last_name":"၂၇၀"},
{"id":775,"first_name":"တံဆိပ်တုံး","last_name":"၂၈၄"},
{"id":776,"first_name":"ဆိုက်ကား","last_name":"၂၆၆"},
{"id":777,"first_name":"အလံ","last_name":"၂၈၅"},
{"id":778,"first_name":"နှခေါင်း","last_name":"၂၉၀"},
{"id":779,"first_name":"ပန်းဝါ","last_name":"၂၆၁"},
{"id":780,"first_name":"ကြိမ်ခြင်း","last_name":"၂၆၈"},
{"id":781,"first_name":"စက္ကူအိတ်","last_name":"၂၆၃"},
{"id":782,"first_name":"အမဲလုံး","last_name":"၂၉၉"},
{"id":783,"first_name":"ဇာပန်းထိုး","last_name":"၂၉၄"},
{"id":784,"first_name":"တံဆိပ်","last_name":"၂၆၀"},
{"id":785,"first_name":"ထမ်းပိုး","last_name":"၂၈၆"},
{"id":786,"first_name":"လျှာ","last_name":"၂၇၃"},
{"id":787,"first_name":"ဓါးလှံကိုင်","last_name":"၂၇၅"},
{"id":788,"first_name":"သင်္ကန်းအင်္ကျီ","last_name":"၂၈၃"},
{"id":789,"first_name":"ကြသောင်းဝါး","last_name":"၂၅၉"},
{"id":790,"first_name":"ဝါဂွမ်းစေ့","last_name":"၂၆၇"},
{"id":791,"first_name":"စုပ်နမ်း","last_name":"၂၅၅"},
{"id":792,"first_name":"သာလိကာ","last_name":"၂၇၆"},
{"id":793,"first_name":"ကျားလှော်အိမ်","last_name":"၂၅၆"},
{"id":794,"first_name":"ကက်ဆက်ခွေ","last_name":"၂၉၇"},
{"id":795,"first_name":"ဒိုင်းဆု","last_name":"၂၇၁"},
{"id":796,"first_name":"ဖရဲသီးစေ့","last_name":"၂၈၁"},
{"id":797,"first_name":"ငွေစက္ကူ","last_name":"၂၅၁"},
{"id":798,"first_name":"ဧကရာဇ်မင်း","last_name":"၂၆၄"},
{"id":799,"first_name":"ဆောင်းဘောက်","last_name":"၂၉၂"},
{"id":800,"first_name":"ဝါဂွမ်းပင်","last_name":"၃၀၀"},
{"id":801,"first_name":"စာဖတ်","last_name":"၂၈၀"},
{"id":802,"first_name":"ဧရိယာတိုင်","last_name":"၂၉၈"},
{"id":803,"first_name":"ဘွဲ့အကြံထုတ်သူ","last_name":"၃၀၂"},
{"id":804,"first_name":"ဘောလုံး","last_name":"၃၁၅"},
{"id":805,"first_name":"နှဲမှုတ်သူ","last_name":"၃၃၉"},
{"id":806,"first_name":"သဘာပတိ","last_name":"၃၄၁"},
{"id":807,"first_name":"ကျားမြှီး","last_name":"၃၀၈"},
{"id":808,"first_name":"စိတ်ဆိုးသူ","last_name":"၃၀၇"},
{"id":809,"first_name":"ဆေးမြစ်","last_name":"၃၃၇"},
{"id":810,"first_name":"အုပ်ဆောင်း","last_name":"၃၃၂"},
{"id":811,"first_name":"လူနာ","last_name":"၃၂၇"},
{"id":812,"first_name":"ထယ်","last_name":"၃၁၉"},
{"id":813,"first_name":"လက်သည်းညှပ်","last_name":"၃၂၉"},
{"id":814,"first_name":"သွားပွတ်တံ","last_name":"၃၄၆"},
{"id":815,"first_name":"အလေးမသူ","last_name":"၃၀၄"},
{"id":816,"first_name":"မျက်နှာသုတ်ပဝါ","last_name":"၃၂၄"},
{"id":817,"first_name":"ခွေးခြေထိုင်ခုံ","last_name":"၃၃၈"},
{"id":818,"first_name":"ခြေဖဝါး","last_name":"၃၂၈"},
{"id":819,"first_name":"ဘုန်းကြီး","last_name":"၃၁၂"},
{"id":820,"first_name":"လျှပ်စစ်မီး","last_name":"၃၂၂"},
{"id":821,"first_name":"ပြက္ခဒိန်","last_name":"၃၄၃"},
{"id":822,"first_name":"သံတံတား","last_name":"၃၂၀"},
{"id":823,"first_name":"အမှိုက်ကော်","last_name":"၃၂၃"},
{"id":824,"first_name":"နှင်းဆီပန်း","last_name":"၃၃၅"},
{"id":825,"first_name":"အပျို","last_name":"၃၃၃"},
{"id":826,"first_name":"မုံညှင်းပင်","last_name":"၃၄၀"},
{"id":827,"first_name":"သံချိတ်","last_name":"၃၁၁"},
{"id":828,"first_name":"ရွှေဘော်","last_name":"၃၁၈"},
{"id":829,"first_name":"ဖရဲသီး","last_name":"၃၁၃"},
{"id":830,"first_name":"မုတ်ဆိတ်","last_name":"၃၄၉"},
{"id":831,"first_name":"လေယာဉ်ပျံ","last_name":"၃၄၄"},
{"id":832,"first_name":"ကြက်တူရွေး","last_name":"၃၁၀"},
{"id":833,"first_name":"ပြည့်တန်ဆာမ","last_name":"၃၃၆"},
{"id":834,"first_name":"စက်ဘီး","last_name":"၃၁၆"},
{"id":835,"first_name":"ကပ်ကျေး","last_name":"၃၂၅"},
{"id":836,"first_name":"သစ်မြစ်","last_name":"၃၃၄"},
{"id":837,"first_name":"ဇာဘော်လီ","last_name":"၃၀၉"},
{"id":838,"first_name":"လွှသွားစူးဓါး","last_name":"၃၁၇"},
{"id":839,"first_name":"လက်မောင်း","last_name":"၃၀၅"},
{"id":840,"first_name":"ရေချိုး","last_name":"၃၂၆"},
{"id":841,"first_name":"ဂျပန်မယ်","last_name":"၃၀၆"},
{"id":842,"first_name":"နိုးစက်နာရီ","last_name":"၃၄၇"},
{"id":843,"first_name":"ဖဲချပ်","last_name":"၃၂၁"},
{"id":844,"first_name":"သဲပုံ","last_name":"၃၃၁"},
{"id":845,"first_name":"လား","last_name":"၃၀၁"},
{"id":846,"first_name":"ပန်ကာ","last_name":"၃၁၄"},
{"id":847,"first_name":"ပိန်းဥ","last_name":"၃၄၂"},
{"id":848,"first_name":"ဇာဂနာ","last_name":"၃၅၀"},
{"id":849,"first_name":"အဝတ်လျှော်","last_name":"၃၃၀"},
{"id":850,"first_name":"ကြမ်းခင်းထမ်း","last_name":"၃၄၈"},
{"id":851,"first_name":"တောင်ထိပ်","last_name":"၃၉၅"},
{"id":852,"first_name":"သီလရှင်","last_name":"၃၅၃"},
{"id":853,"first_name":"နားရွက်တွဲခွေးမျိုး","last_name":"၃၅၂"},
{"id":854,"first_name":"သံမှို","last_name":"၃၆၅"},
{"id":855,"first_name":"ဝက်သားခြောက်","last_name":"၃၈၉"},
{"id":856,"first_name":"အဝတ်ချိတ်","last_name":"၃၉၁"},
{"id":857,"first_name":"လှည်းဘီး","last_name":"၃၅၈"},
{"id":858,"first_name":"သင်္ဘော","last_name":"၃၅၇"},
{"id":859,"first_name":"အိပ်ဆောင်နာရီ","last_name":"၃၈၇"},
{"id":860,"first_name":"မြင်းမြှီးသိုင်း","last_name":"၃၈၂"},
{"id":862,"first_name":"လက်ဝှေ့သမား","last_name":"၃၇၇"},
{"id":861,"first_name":"ဘိုးတုတ်ကောက်","last_name":"၃၆၉"},
{"id":863,"first_name":"လိပ်ပြာမယ်","last_name":"၃၇၉"},
{"id":864,"first_name":"ပဲပင်ပေါက်","last_name":"၃၉၆"},
{"id":865,"first_name":"ဆရာဝန်မ","last_name":"၃၅၄"},
{"id":866,"first_name":"ပေါင်","last_name":"၃၇၄"},
{"id":867,"first_name":"ငါးမျှားချိတ်","last_name":"၃၈၈"},
{"id":868,"first_name":"ဝီစီမှုတ်","last_name":"၃၇၈"},
{"id":869,"first_name":"ဘောင်းဘီတို","last_name":"၃၆၂"},
{"id":870,"first_name":"ဆံသသူ","last_name":"၃၇၂"},
{"id":871,"first_name":"ကြက်သား","last_name":"၃၉၃"},
{"id":872,"first_name":"ထွန်ခြစ်","last_name":"၃၇၀"},
{"id":873,"first_name":"ငရုပ်သီးမှုံ့","last_name":"၃၈၄"},
{"id":874,"first_name":"ယောက်သွားခရု","last_name":"၃၆၆"},
{"id":875,"first_name":"ပစ္စတိုသေနတ်","last_name":"၃၈၅"},
{"id":876,"first_name":"နတ်ဆရာ","last_name":"၃၉၀"},
{"id":877,"first_name":"ထင်းရောင်းသူ","last_name":"၃၆၁"},
{"id":878,"first_name":"သင်ဓုံးဓါး","last_name":"၃၆၈"},
{"id":879,"first_name":"ဘုရင်မ","last_name":"၃၆၃"},
{"id":880,"first_name":"တင်ပါး","last_name":"၃၉၉"},
{"id":881,"first_name":"အဖွားအို","last_name":"၃၉၄"},
{"id":882,"first_name":"လက်ပတ်နာရီ","last_name":"၃၆၀"},
{"id":883,"first_name":"ကတ်ဖဲ","last_name":"၃၈၆"},
{"id":884,"first_name":"သော့ခလောက်","last_name":"၃၇၃"},
{"id":885,"first_name":"ချိန်ခွင်","last_name":"၃၇၅"},
{"id":886,"first_name":"စစ်သား","last_name":"၃၈၃"},
{"id":887,"first_name":"ဂက်စ်မီးခြစ်","last_name":"၃၅၉"},
{"id":888,"first_name":"ကတော့","last_name":"၃၆၇"},
{"id":889,"first_name":"ကချင်မယ်","last_name":"၃၅၅"},
{"id":890,"first_name":"နံပါတ်တုန်","last_name":"၃၇၆"},
{"id":891,"first_name":"တရုတ်မ","last_name":"၃၅၆"},
{"id":892,"first_name":"မြေပဲ","last_name":"၃၉၇"},
{"id":893,"first_name":"နက်တိုင်လည်စည်း","last_name":"၃၇၁"},
{"id":894,"first_name":"သစ်သားတံတား","last_name":"၃၈၁"},
{"id":895,"first_name":"ပုဆိန်ကိုင်","last_name":"၃၅၁"},
{"id":896,"first_name":"ရေကူး","last_name":"၃၆၄"},
{"id":897,"first_name":"အံစာ","last_name":"၃၉၂"},
{"id":898,"first_name":"ဇင်ယော်ငှက်","last_name":" ၄၀၀"},
{"id":900,"first_name":"ယက်ကန်းစင်","last_name":"၃၈၀"},
{"id":901,"first_name":"မျက်စိကန်းသူ","last_name":"၃၉၈"},
{"id":902,"first_name":"ပင်ပေါင်ဘောလုံး","last_name":"၄၄၅"},
{"id":903,"first_name":"ခေါက်ဆွဲ","last_name":"၄၀၃"},
{"id":904,"first_name":"ဝတ္ထုစာအုပ်","last_name":"၄၀၂"},
{"id":905,"first_name":"ပန်းဒကာ","last_name":"၄၁၅"},
{"id":906,"first_name":"ကန့်လန့်ကာ","last_name":"၄၃၉"},
{"id":907,"first_name":"ဖေါင်","last_name":"၄၄၁"},
{"id":908,"first_name":"သူနာပြု","last_name":"၄၀၈"},
{"id":909,"first_name":"လင်ပန်း","last_name":"၄၀၇"},
{"id":910,"first_name":"ဆုတောင်း","last_name":"၄၃၇"},
{"id":912,"first_name":"စတော်ဘယ်ရီ","last_name":"၄၃၂"},
{"id":911,"first_name":"သံတုတ်သိုင်း","last_name":"၄၂၇"},
{"id":913,"first_name":"ကလေးပုခက်","last_name":"၄၁၉"},
{"id":914,"first_name":"သူတောင်းစား","last_name":"၄၂၉"},
{"id":915,"first_name":"ကြယ်မုန့်","last_name":"၄၄၆"},
{"id":916,"first_name":"ဘင်ဂျို","last_name":"၄၀၄"},
{"id":917,"first_name":"မုတ်ကောင်","last_name":"၄၂၄"},
{"id":918,"first_name":"ခရုကောက်","last_name":"၄၃၈"},
{"id":919,"first_name":"ပိတ်ကုတင်","last_name":"၄၂၈"},
{"id":920,"first_name":"အပြေးပြိုင်","last_name":"၄၁၂"},
{"id":921,"first_name":"ချက်","last_name":"၄၂၂"},
{"id":922,"first_name":"ခရီးသွား","last_name":"၄၄၃"},
{"id":923,"first_name":"ပန်းကွက်ဖျာ","last_name":"၄၂၀"},
{"id":924,"first_name":"မှင်အိုး","last_name":"၄၃၄"},
{"id":925,"first_name":"မုန်လာဥ","last_name":"၄၁၆"},
{"id":926,"first_name":"တုတ်ထမ်းသူ","last_name":"၄၃၅"},
{"id":927,"first_name":"ထိတ်လန့်သူ","last_name":"၄၄၀"},
{"id":928,"first_name":"ကချေသည်","last_name":"၄၁၁"},
{"id":929,"first_name":"ဘက်စ်ကား","last_name":"၄၁၈"},
{"id":930,"first_name":"ဒုံးပျံ/မီးရှူး","last_name":"၄၁၃"},
{"id":932,"first_name":"ရေလှောင်ကန်","last_name":"၄၄၉"},
{"id":931,"first_name":"မီးခလုတ်","last_name":"၄၄၄"},
{"id":933,"first_name":"ငွေစက္ကူ","last_name":"၄၁၀"},
{"id":934,"first_name":"သစ်ပင်","last_name":"၄၃၆"},
{"id":935,"first_name":"ရွက်လှေ","last_name":"၄၂၃"},
{"id":936,"first_name":"ကျောက်သင်ပုန်း","last_name":"၄၂၅"},
{"id":937,"first_name":"ကားတာယာ","last_name":"၄၃၃"},
{"id":938,"first_name":"ကြက်မောက်သီး","last_name":"၄၀၉"},
{"id":939,"first_name":"စပါးရိတ်","last_name":"၄၁၇"},
{"id":940,"first_name":"သစ်သီးခူး","last_name":"၄၀၅"},
{"id":941,"first_name":"ဝမ်းနည်းသူ","last_name":"၄၂၆"},
{"id":942,"first_name":"စာရေး","last_name":"၄၀၆"},
{"id":943,"first_name":"ခြင်းတောင်း","last_name":"၄၄၇"},
{"id":944,"first_name":"ဆွဲခြင်း","last_name":"၄၂၁"},
{"id":945,"first_name":"တိုက်ဘရပ်ရှ်","last_name":"၄၃၁"},
{"id":946,"first_name":"အမိန့်တော်ပြန်","last_name":"၄၀၁"},
{"id":947,"first_name":"ဒရမ်","last_name":"၄၁၄"},
{"id":948,"first_name":"လမ်းဝုံးအက","last_name":"၄၄၂"},
{"id":949,"first_name":"မိုက်ခရိုဖုန်း","last_name":"၄၅၀"},
{"id":950,"first_name":"ဘရိတ်ဒါး","last_name":"၄၃၀"},
{"id":952,"first_name":"ကိုယ်တိုက်ဆပ်ပြာ","last_name":"၄၄၈"},
{"id":951,"first_name":"လက်အိပ်","last_name":"၄၉၅"},
{"id":953,"first_name":"ပဲစိမ်းစားဥ","last_name":"၄၅၃"},
{"id":954,"first_name":"လက်သမား","last_name":"၄၅၂"},
{"id":955,"first_name":"ဆရာတော်","last_name":"၄၆၅"},
{"id":956,"first_name":"ရင်ဘတ်","last_name":"၄၈၉"},
{"id":957,"first_name":"လှေပဲ့ထိန်း","last_name":"၄၉၁"},
{"id":958,"first_name":"မီးရထား","last_name":"၄၅၈"},
{"id":959,"first_name":"ဘိန်းသီး","last_name":"၄၅၇"},
{"id":960,"first_name":"ဥ","last_name":"၄၈၇"},
{"id":961,"first_name":"ဆိုင်ကယ်ပြိုင်","last_name":"၄၈၂"},
{"id":962,"first_name":"စိတ်ယုတ်ညံ့သူ","last_name":"၄၇၇"},
{"id":963,"first_name":"ကယ်ရီယာကြိုး","last_name":"၄၆၉"},
{"id":964,"first_name":"ကြွပ်ကြွပ်အိတ်","last_name":"၄၇၉"},
{"id":965,"first_name":"ငါး","last_name":"၄၉၆"},
{"id":966,"first_name":"အုန်းသီး","last_name":"၄၅၄"},
{"id":967,"first_name":"ခြံပိုင်ရှင်","last_name":"၄၇၄"},
{"id":968,"first_name":"ပဲထောင့်ရှည်","last_name":"၄၈၈"},
{"id":969,"first_name":"ဆရာဝန်","last_name":"၄၇၈"},
{"id":970,"first_name":"ခေါင်းကိုက်သူ","last_name":"၄၆၂"},
{"id":971,"first_name":"စားပွဲခုံဝိုင်း","last_name":"၄၇၂"},
{"id":972,"first_name":"သစ်သီးခြင်း","last_name":"၄၉၃"},
{"id":973,"first_name":"ရန်ဖြစ်","last_name":"၄၇၀"},
{"id":974,"first_name":"ခဲတံ","last_name":"၄၈၄"},
{"id":975,"first_name":"ကင်မရာ","last_name":"၄၆၆"},
{"id":976,"first_name":"တံစဉ်","last_name":"၄၈၅"},
{"id":977,"first_name":"ဗိုင်းငင်သူ","last_name":"၄၉၀"},
{"id":978,"first_name":"မိုင်တိုင်","last_name":"၄၆၁"},
{"id":979,"first_name":"ပညာရှိ","last_name":"၄၆၈"},
{"id":980,"first_name":"ကုံးကင်းအံစာ","last_name":"၄၆၃"},
{"id":981,"first_name":"ယဇ်နတ်ပူဇော်","last_name":"၄၉၉"},
{"id":982,"first_name":"မိန့်ခွန်းချွေ","last_name":"၄၉၄"},
{"id":983,"first_name":"ဆွမ်းတော်အုပ်","last_name":"၄၆၀"},
{"id":984,"first_name":"ဆေးပုလင်း","last_name":"၄၈၆"},
{"id":985,"first_name":"ရေဘဝဲ","last_name":"၄၇၃"},
{"id":986,"first_name":"ကြိမ်ပင်","last_name":"၄၇၅"},
{"id":987,"first_name":"မီးကပ်မီးချိတ်","last_name":"၄၈၃"},
{"id":988,"first_name":"ငရုပ်ကောင်း","last_name":"၄၅၉"},
{"id":989,"first_name":"နတ်နွား","last_name":"၄၆၇"},
{"id":990,"first_name":"တယော","last_name":"၄၅၅"},
{"id":991,"first_name":"စားပွဲထိုး","last_name":"၄၇၆"},
{"id":992,"first_name":"မင်း","last_name":"၄၅၆"},
{"id":994,"first_name":"မင်းစေ","last_name":"၄၉၇"},
{"id":993,"first_name":"ထမ်းသူ","last_name":"၄၇၁"},
{"id":996,"first_name":"စားဖိုမှူး","last_name":"၄၈၁"},
{"id":995,"first_name":"ဇာပန်း","last_name":"၄၅၁"},
{"id":997,"first_name":"တံငါသည်","last_name":"၄၆၄"},
{"id":998,"first_name":"ဓါးသွေးကျောက်","last_name":"၄၉၂"},
{"id":999,"first_name":"လျှပ်စစ်မီး ","last_name":"၅၀၀"},
{"id":1000,"first_name":"ပန်းကန်စင်","last_name":"၄၈၀"},
{"id":1001,"first_name":"သံကြုတ်ဗူး","last_name":"၄၉၈ "},


];
</script>

</body>
</html>
